/* 博客名称美化 */
/*#blog_name .title {
    color: #e9b9ab;
    font-family: "阿里妈妈方圆体 VF Regular";
}*/

/* 空调取消版权信息 */
.copyright-box .copyright-p-1,
.copyright-box p {
    display: none !important;
}

/* 文章页字体调整 */
.recent-post-info .recent-post-info-top .recent-post-info-top-tips .article-categories-original {
    font-size: 10px !important;
    font-weight: border !important;
    font-family: "微软雅黑";
    margin-top: 3px !important;
    margin-right: 10px !important;

}

/* nav 图标美化 */
.back-home-button .icon-apps-fill {
    color: #b63836 !important;
}

#recent-posts>.recent-post-item {
    position: relative;
}

/* 最新文章图标 */
.newPost-left,
.newPost-right {
    position: absolute;
    top: 0;
    color: white;
    padding: 0 15px;
    background-color: #49b1f5;
    border-radius: 0 0 10px 10px;
}

.newPost-left {
    left: 15px;
}

.newPost-right {
    right: 15px;
}


/* stars */

.stars {
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(-145deg);
}

.stars {
  position: absolute;
  width: 100%;
}

.stars-animation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: about-stars 10s linear infinite;
}

@keyframes about-stars {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.star-about {
  width: 5rem;
  height: 2px;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0));
  display: flex;
  align-items: center;
}

.star-about.center {
  margin: 0 0 0 100%;
}

.star-about {
  width: 5rem;
  height: 2px;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0));
  display: flex;
  align-items: center;
}

.star-about.bottom {
  margin: 0 0 0 30%;
}

.star-about {
  width: 5rem;
  height: 2px;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0));
  display: flex;
  align-items: center;
}

.star-about:before {
  content: "";
  height: 2px;
  width: 2px;
  background: #fff;
  border-radius: 50%;
}


/* changebg */

/* 由于全屏会出bug，所以直接给他隐藏 */

.winbox {
  border-radius: calc(.4rem - 1px);
  box-shadow: var(--bieyinan-shadow-border);
  overflow: hidden;
}

.wb-header {
  border-bottom: 1px solid #dee2e6;
}

.wb-full {
  display: none;
}

.wb-min {
  background-position: center;
}

.wb-body {
  font-family: MohrRounded Black, HYZhengYuan-65W, Microsoft YaHei, sans-serif;
}

.wb-body h2 {
  padding-left: 10px!important;
  z-index: -1;
  line-height: 4rem;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
  background: #333 !important;
}

.bgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bgbox a {
  border-radius: calc(.4rem - 1px);
}

.pimgbox,
.imgbox,
.box {
  width: 166px;
  margin: 10px;
  background-size: cover
}

.pimgbox,
.imgbox {
  border-radius: 10px;
  overflow: hidden;
}

.pimgbox {
  height: 240px;
}

.imgbox {
  height: 95px;
}

.box {
  height: 100px;
}

.wb-body #article-container button:hover {
  background: var(--btn-hover-color)!important;
}

@media screen and (max-width: 1200px) {
  .wb-body #article-container button {
    width: 30%!important;
  }
}

@media screen and (max-width: 768px) {
  .pimgbox,
  .imgbox,
  .box {
      height: 73px;
      width: 135px;
  }
  .pimgbox {
      height: 205px;
  }  
  .wb-min {
      display: none;
  }
  #changeBgBox .wb-body::-webkit-scrollbar {
      display: none;
  }
  .wb-body #article-container button {
    width: 100%!important;
  }
}

@font-face {
    font-family:'arzhu';
    src:url('https://cdn.jsdelivr.net/gh/xxx/xxx/font/xxx.ttf'); /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}