#specialDay {
	color: #fff;
	padding: 0!important
}

#specialDay h3,#specialDay p {
	font-weight: 400;
	color: inherit;
	margin: 0
}

#specialDay .item-headline {
	display: none
}

#specialDay-main {
	min-height: 160px;
	padding: 1rem;
	position: relative;
	border-radius: 12px;
	background-image: url(https://top-img.pupper.cn/top-img/top-img-61.webp);
	background-size: cover;
	background-position: center
}

#specialDay-main * {
	position: relative;
	line-height: 1.3
}

#specialDay-main .specialDay-time {
	font-weight: 700;
	text-align: center
}

#specialDay-main .specialDay-time .time {
	-webkit-animation: Glow1 .5s ease infinite alternate
}

@-webkit-keyframes Glow1 {
	from {
		text-shadow: 0 0 5px #ff4949,0 0 10px #ff4949,0 0 15px #ff4949,0 0 20px #409eff,0 0 35px #20b8ff,0 0 40px #20b8ff,0 0 50px #20b8ff,0 0 75px #20b8ff
	}

	to {
		text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #00a67c,0 0 70px #00a67c,0 0 80px #00a67c,0 0 100px #00a67c,0 0 150px #00a67c
	}
}

#specialDay-main .happyspecialDay,#specialDay-main .time {
	font-size: 3.5rem;
	margin: 1rem 0;
	display: block
}

#specialDay-main .day {
	font-size: 5rem;
	-webkit-animation: Glow .5s ease infinite alternate
}

@-webkit-keyframes Glow {
	from {
		text-shadow: 0 0 5px #ff4949,0 0 10px #ff4949,0 0 15px #ff4949,0 0 20px #409eff,0 0 35px #20b8ff,0 0 40px #20b8ff,0 0 50px #20b8ff,0 0 75px #20b8ff
	}

	to {
		text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #00a67c,0 0 70px #00a67c,0 0 80px #00a67c,0 0 100px #00a67c,0 0 150px #00a67c
	}
}

#specialDay-main .day .unit {
	font-size: 1rem
}

#specialDay-main .title span {
	font-size: 20px;
	-webkit-animation: Glo .5s ease infinite alternate
}

@-webkit-keyframes Glo {
	from {
		text-shadow: 0 0 10px #c507f3,0 0 20px #c507f3,0 0 30px #c507f3,0 0 40px #00a67c,0 0 70px #00a67c,0 0 80px #00a67c,0 0 100px #00a67c,0 0 150px #00a67c
	}

	to {
		text-shadow: 0 0 5px #e91e63,0 0 10px #e91e63,0 0 15px #e91e63,0 0 20px #ff5722,0 0 35px #ff5722,0 0 40px #ff5722,0 0 50px #ff5722,0 0 75px #ff5722
	}
}

#specialDay-main .mask {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url(https://top-img.pupper.cn/top-img/top-img-61.webp);
	background-size: cover;
	background-position: center;
	filter: blur(10px)
}[data-theme=dark] #body-wrap {
	background: 0 0
}[data-theme=dark] #footer {
	background: 0 0
}